.soundToggleContainerOn {
  margin-block-start: 15px;
  margin-inline-start: 110px;
  padding-block-start: 40px;
  background: url('./images/sound-on.svg') top left no-repeat;
}

.soundToggleContainerOff {
  margin-block-start: 15px;
  margin-inline-start: 110px;
  padding-block-start: 40px;
  background: url('./images/sound-off.svg') top left no-repeat;
}
