.subtitle {
  font-weight: 400;
  font-size: 42px;
  font-style: normal;
  line-height: normal;
}

.menu {
  margin-block: 155px 76px;
  margin-inline: 0;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  max-inline-size: 200px;
  margin-block: 10px;
  margin-inline: 0;
  color: inherit;
  font-size: 24px;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}
