.menu {
  margin-block-start: 20px;
  margin-inline: 0;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
  max-inline-size: 200px;
  margin-block: 10px;
  margin-inline: 0;
  padding-inline-start: 30px;
  color: inherit;
  font-size: 40px;
  font-family: var(--g-text-caption-font-family);
  line-height: 50px;
  text-decoration: none;
  background: url('./images/arrow.svg') left 13px no-repeat;
  background-size: 12px 16px;
  opacity: 0.9;

  &:hover {
    background: url('./images/arrow-hover.svg') left 5px no-repeat;
    opacity: 1;
  }
}
