:root {
  --colors-white: #fff;
  --colors-black: #19241d;
  --colors-gray-light: #eaeaea;
  --colors-gray: #c2c9c3;
  --colors-gray-dark: #acb6bc;
  --colors-red: #cb0000;
  --colors-light-red: #f9c6c6;
  --colors-green-light: #c3cfc8;
  --colors-green-text: #5b7c6c;
  --colors-green: #749080;
  --colors-green-dark: #68866f;
  --colors-chess-block: #38322a;
  --colors-chess-square-light: #949283;
  --colors-chess-square-dark: #797468;
  --colors-chess-dark: #38322a;
}
