.button {
  background-color: var(--colors-green);
  color: var(--colors-gray-light);
  margin-top: 60px;
  width: 250px;

  &:hover {
    opacity: 0.8;
    color: var(--colors-gray-light);
  }
}

.action {
  margin: 0 0 0 60px;
  max-width: 500px;
}

.title {
  margin: 0;
  color: var(--colors-green);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  max-height: 100vh;
}
