.button {
  inline-size: 250px;
  margin-block-start: 60px;
  color: var(--colors-gray-light);
  background-color: var(--colors-green);

  &:hover {
    color: var(--colors-gray-light);
    opacity: 0.8;
  }
}

.action {
  max-inline-size: 500px;
  margin: 0;
  margin-block-end: 60px;
}

.title {
  margin: 0;
  color: var(--colors-green);
  font-weight: 400;
  font-size: 48px;
  font-style: normal;
  line-height: normal;
}

.subtitle {
  margin-block: 10px;
  margin-inline: 0;
  color: var(--colors-green);
  font-weight: 400;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  max-block-size: 100vh;
}
