.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-block: 50px 0;
  margin-inline: 0;
  padding: 10px;
  color: var(--colors-green-text);
  border: 1px solid var(--colors-green-light);
  border-radius: 5px;
}

.text {
  inline-size: 100%;
}
