@mixin square-props($var) {
  position: relative;
  inline-size: 60px;
  block-size: 60px;
  border: 1px solid var(--colors-chess-dark);
  background-color: $var;
}

@mixin numbers-letters() {
  position: absolute;
  color: var(--colors-white);
  font-size: 12px;
}

.black-square {
  @include square-props(var(--colors-chess-square-dark));
}

.light-square {
  @include square-props(var(--colors-chess-square-light));
}

.left {
  border-inline-start: 19px solid var(--colors-chess-dark);
}

.right {
  border-inline-end: 19px solid var(--colors-chess-dark);
}

.upper {
  border-block-start: 19px solid var(--colors-chess-dark);
}

.lower {
  border-block-end: 19px solid var(--colors-chess-dark);
}

.left-upper {
  border-inline-start: 19px solid var(--colors-chess-dark);
  border-block-start: 19px solid var(--colors-chess-dark);
}

.right-upper {
  border-inline-end: 19px solid var(--colors-chess-dark);
  border-block-start: 19px solid var(--colors-chess-dark);
}

.left-lower {
  border-inline-start: 19px solid var(--colors-chess-dark);
  border-block-end: 19px solid var(--colors-chess-dark);
}

.right-lower {
  border-inline-end: 19px solid var(--colors-chess-dark);
  border-block-end: 19px solid var(--colors-chess-dark);
}

.upper-letter {
  @include numbers-letters;

  inset-block-start: -26px;
  inset-inline-start: 25px;
}

.lower-letter {
  @include numbers-letters;

  inset-block-end: -28px;
  inset-inline-start: 25px;
}

.left-number {
  @include numbers-letters;

  inset-block-start: 10px;
  inset-inline-start: -13px;
}

.right-number {
  @include numbers-letters;

  inset-block-start: 10px;
  inset-inline-end: -12px;
}
