.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 90vh;
  block-size: 100%;
  color: var(--colors-green-text);
}

.title {
  margin-block: 0.5em;
  margin-inline: 0;
  padding-block-end: 0;
}

.placeholder {
  margin-block-start: 50px;
  color: grey;
  font-weight: normal;
}
