.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 825px;
  padding-block: 0;
  padding-inline: 20px;
  border: 20px solid var(--colors-chess-dark);
  background-color: var(--colors-chess-square-light);
}

.paginator {
  margin-block: 25px 0;
  margin-inline: 0;
}

.button {
  inline-size: 200px;
  margin: 25px;
}
