.main {
  display: flex;
  justify-content: space-around;
  max-inline-size: 100%;
  color: var(--colors-green-text);
}

.content {
  display: flex;
  flex-grow: 1;
  align-content: center;
  align-items: center;
  margin-block: 280px;
  margin-inline: 5em;
}

.profile {
  display: flex;
  flex-grow: 1;
  align-content: center;
  margin-block: 0;
  margin-inline: 5px;
}

.profile h3 {
  margin-block: 0.5em;
  margin-inline: 0;
}

.about {
  display: grid;
  gap: 0.5em;
  margin-block: 0;
  margin-inline: 3em;
}

.password {
  display: grid;
  gap: 0.5em;
}

.muted {
  color: var(--colors-gray-dark);
}
