.profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: center;
  margin-block: 0;
  margin-inline: 5px;

  .title {
    margin-block: 0.5em;
    margin-inline: 0;
  }

  .blockProfile {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-block-end: 35px;
    padding-block-end: 35px;
    border-block-end: 1px solid var(--g-color-line-generic);

    .avatar {
      padding-inline-end: 50px;
    }

    .about {
      margin-block: 0;
      margin-inline: 3em;

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        inline-size: 400px;
        padding: 10px;
        border-block-end: 1px solid var(--g-color-line-generic);

        &:last-child {
          border-block-end: none;
        }

        .personalValue {
          font-weight: 800;
        }
      }
    }
  }

  .blockPassword {
    inline-size: 100%;
    margin-block-end: 35px;
    padding-block-end: 30px;
    border-block-end: 1px solid var(--g-color-line-generic);

    .blockPasswordInner {
      inline-size: 300px;
    }
  }

  .logoutBlock {
    .logoutBtn {
      padding-inline-start: 15px;
      color: var(--g-color-base-danger);
      cursor: pointer;
      border-inline-start: 3px solid var(--g-color-line-danger);

      &:hover {
        color: var(--g-color-text-danger);
      }
    }

    padding-block-end: 50px;
  }
}
