.main {
  display: flex;
  justify-content: space-around;
  max-inline-size: 100%;
  color: var(--colors-green-text);

  .leftMenu {
    padding-inline-end: 40px;
    border-inline-end: 1px solid var(--colors-gray-light);
    box-shadow:
      0 1px 3px rgb(0 0 0 / 12%),
      0 1px 2px rgb(0 0 0 / 24%);
  }
}

.content {
  display: flex;
  flex-grow: 1;
  align-content: center;
  align-items: center;
  margin-block: 280px;
  margin-inline: 5em;
}

.profile {
  display: flex;
  flex-grow: 1;
  align-content: center;
  margin-block: 0;
  margin-inline: 5px;
}

.profile .title {
  margin-block: 0.5em;
  margin-inline: 0;
}

.about {
  display: grid;
  gap: 0.5em;
  margin-block: 0;
  margin-inline: 3em;
}

.password {
  display: grid;
  gap: 0.5em;
}

.muted {
  color: var(--colors-gray-dark);
}

.logout {
  margin-block-start: 20px;
}
