.form {
  display: block;
  padding-block: 30px;
  padding-inline: 0;

  .submitBtn {
    margin-block-start: 10px;
  }

  .oAuthBtn {
    margin-block-start: 10px;
    background: url('./images/yandex.svg') no-repeat 63px center;
  }
}
