.leaderboard {
  block-size: 100%;

  .title {
    margin-block: 0.5em;
    margin-inline: 0;
  }

  .table {
    margin-inline: 0;
    padding-block-end: 40px;
    font-size: 18px;

    table {
      inline-size: 100%;

      .thTable {
        color: var(--colors-green-text);
      }
    }
  }

  .paginator {
    justify-content: center;
  }
}
