.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  block-size: 100%;
  min-block-size: 100vh;
  color: var(--colors-green-text);
  background: #e1e4e6;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  inline-size: 50%;
}

.contentInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 80%;
}

.title {
  margin: 0;
  font-size: 128px;
  line-height: 160px;
}

.image {
  inline-size: 50%;
  min-block-size: 100vh;
  background: url('./../../assets/images/main.png') center center no-repeat;
  background-size: cover;
}
