.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  block-size: 100%;
  min-block-size: 100vh;
  color: var(--colors-green-text);
  background: var(--g-color-base-generic);
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  inline-size: 50%;
}

.themeToggle {
  position: absolute;
  inset-block-start: 40px;
  inset-inline-start: 60px;
}

.contentInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 80%;
}

.title {
  margin: 0;
  font-size: 128px;
  font-family: var(--g-text-caption-font-family);
  line-height: 160px;
}

.image {
  inline-size: 50%;
  min-block-size: 100vh;
  background: url('./../../assets/images/main.png') center center no-repeat;
  background-size: cover;
}
