.menu {
  margin-block-start: 25px;
  margin-inline: 0;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
  max-inline-size: 200px;
  margin-block: 10px;
  margin-inline: 0;
  padding-inline-start: 25px;
  color: var(--colors-green-text);
  font-size: 26px;
  font-family: var(--g-text-caption-font-family);
  line-height: 30px;
  text-decoration: none;
  background-size: 12px 16px;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}

.linkSelected {
  display: block;
  max-inline-size: 200px;
  margin-block: 10px;
  margin-inline: 0;
  padding-inline-start: 25px;
  color: var(--colors-chess-block);
  font-size: 26px;
  font-family: var(--g-text-caption-font-family);
  line-height: 30px;
  text-decoration: none;
  background: url('./images/arrow-selected.svg') left 5px no-repeat;
  background-size: 12px 16px;
  opacity: 1;
}
