.forum {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  block-size: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-block: 0.5em;
  margin-inline: 0;
}

.table {
  inline-size: 100%;
  min-block-size: 80%;
  margin-block: 50px;
  margin-inline: 0;
  font-size: 18px;

  table {
    inline-size: 100%;

    .thTable {
      color: var(--colors-green-text);
    }
  }
}

.link {
  color: inherit;
  color: var(--colors-green-text);
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.paginator {
  align-self: center;
}
